<h1>Yelp</h1>
  <h2><%= @restaurant.name %></h2>
    <p>Address: <%= @restaurant.address %></p>
    <p>Phone: <%= @restaurant.phone_number %></p>
    <p>Category: <%= @restaurant.category %></p>
    <p>Reviews:
      <ul>
        <% @restaurant.reviews.each do |review| %>
          <li>
          rating: <%= review.rating %>, content: <%= review.content %>
          </li>
        <% end %>
      </ul>

    <%= link_to "Add a review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
    <%= link_to "Back to Restaurants List", restaurants_path, class: "btn btn-primary"%>
